body {
    /*position: absolute; */
    width: 300px;
    height: 275px;
    /*left: 1051px;
    top: 0px; */
    
    background: #F5F5F5;
}

.en-tete {
    position: absolute;
    left: 17.74%;
    right: 17.74%;
    top: 3%;
    bottom: 93.87%;
    max-width: 65%;
}

/* Début de style du CTA */
.cta {
    position: absolute;
    left: 0.5%;
    right: 2.06%;
    top: 18%;
    bottom: 81%;
}

.vignette_ea {
    position: absolute;
    left: 0.5%;
    right: 70.17%;
    top: 18%;
    bottom: 81%;

    max-width: 29.3%;
}

.texte_cta {
    position: absolute;
    left: 28%;
    right: 1%;
    top: 30.5%;
    bottom: 87.7%;

    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}

/* Fin de style du CTA */


/* Style bouton Voir tous les résultats */
/* On laisse 4% entre le dernier cadre produit et ce bouton */

.fond_resultats {    
    position: absolute;
    left: 8.45%;
    right: 8.45%;
    top: 55.63%; 
    bottom: 30.73%;
    
    background: #ED6F1A;
    border-radius: 20px;
}

.resultats_exhaustifs {
    position: absolute;
    left: 18.6%;
    right: 10.6%; 
    top: 55.7%;
    bottom: 30.14%;

    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

/* Fin style bouton Voir tous les résultats */

/* Lien vers la sélection d'EthicAdvisor */
/* On laisse 5% entre ce texte et le bouton précédent */

.fond_resultats2 {    
    position: absolute;
    left: 8.45%;
    right: 8.45%;
    top: 75.63%; 
    bottom: 10.73%;
    
    background: #ED6F1A;
    border-radius: 20px;
}

.resultats_exhaustifs2 {
    position: absolute;
    left: 15.6%;
    right: 10.6%; 
    top: 75.7%;
    bottom: 10.14%;

    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}